{extend name="layout/main" /}

{block name="header"}

{/block}

{block name="content"}
<script type="text/javascript" src='https://unpkg.com/wangeditor/release/wangEditor.min.js'></script>
<link rel="stylesheet" href="http://cdn.staticfile.org/webuploader/0.1.5/webuploader.css">

<script type="text/javascript" src='http://cdn.staticfile.org/webuploader/0.1.5/webuploader.min.js'></script>

<section class="panel">
    {if isset($info)}
    <header class="panel-heading">
        <h4>编辑收款方式</h4>
    </header>
    <div class="panel-body" style="padding-bottom: 50px">
        <form class="form-horizontal" method="post" onsubmit="return false" role="form">
            

            <div class="form-group">
                <label class="col-sm-2 control-label">上传图片</label>

                <div class="col-sm-5">
                    <div id="filePicker" {if $info['path']}style="display:none;"{/if}>选择并上传图片</div>
                </div>
                <input type="hidden" value="{$info['path']}" name="path" id="path" class="form-control">
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label"></label>
                <div class="col-sm-5">
                    <div id="fileList" class="uploader-list">
                        {if $info['path']}
                        <div id="WU_FILE_0" class="upload-state-done" data-id="{$info['path']}"><img src="{$info['path']}" width="100%"><br><a href="javascript:;" onclick="deleteImag(this);">删除</a></div>
                        {/if}
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">账号</label>

                <div class="col-sm-5">
                    <input type="text" value="{$info.name}" name="name" class="form-control"
                           placeholder="请输入账号">
                </div>
            </div>
            
             

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" data-url="{:url('admin/Configapp/update',['id'=>$info.id])}"
                            onclick="main.ajaxPosts(this)" class="btn btn-primary">确定修改
                    </button>
                </div>
            </div>
        </form>
    </div>
    {else /}
    <header class="panel-heading">
        <h4>添加文章</h4>
    </header>
    
    {/if}
</section>
{/block}


{block name="footer"}

    <script src="/admin/vendor/fuelux/radio.js"></script>
  <script>
    var uploader1 = WebUploader.create({

        // 选完文件后，是否自动上传。
        auto: true,

        // 文件接收服务端。
        server: "{:url('upload/uploadImg')}",

        // 选择文件的按钮。可选。
        // 内部根据当前运行是创建，可能是input元素，也可能是flash.
        pick: {
            id:'#filePicker1',
            multiple:true
        },

        // 只允许选择图片文件。
        accept: {
            title: '*',
            extensions: '*',
            mimeTypes: '*'
        }
    });


    // 文件上传成功，给item添加成功class, 用样式标记上传成功。
    uploader1.on( 'uploadSuccess', function( file ,data) {

        $("#androidDoloadLink")
        console.log(file, data)
        if(data.errno == 0){
            $('#android').val(data.data);
            $('#androidInput').val(data.data);
        }
    });






        // 初始化Web Uploader
var uploader = WebUploader.create({

    // 选完文件后，是否自动上传。
    auto: true,

    // 文件接收服务端。
    server: "{:url('upload/uploadImg')}",

    // 选择文件的按钮。可选。
    // 内部根据当前运行是创建，可能是input元素，也可能是flash.
    pick: {
        id:'#filePicker',
        multiple:true
    },

    // 只允许选择图片文件。
    accept: {
        title: 'Images',
        extensions: 'gif,jpg,jpeg,bmp,png',
        mimeTypes: 'image/jpg,image/jpeg,image/png'
    }
});
var $list = $('#fileList');
var thumbnailWidth =600;
var thumbnailHeight = 200;
// 当有文件添加进来的时候
uploader.on( 'fileQueued', function( file ) {
    var $li = $(
            '<div id="' + file.id + '" class="">' +
                '<img>' +
                '<br><a href="javascript:;" onclick="deleteImag(this);">删除</a>' +
            '</div>'
            ),
        $img = $li.find('img');


    // $list为容器jQuery实例
    $list.Configappend( $li );

    // 创建缩略图
    // 如果为非图片文件，可以不用调用此方法。
    // thumbnailWidth x thumbnailHeight 为 100 x 100
    uploader.makeThumb( file, function( error, src ) {
        if ( error ) {
            $img.replaceWith('<span>不能预览</span>');
            return;
        }

        $img.attr( 'src', src );
    }, thumbnailWidth, thumbnailHeight );
});
// 文件上传过程中创建进度条实时显示。
uploader.on( 'uploadProgress', function( file, percentage ) {
    var $li = $( '#'+file.id ),
        $percent = $li.find('.progress span');

    // 避免重复创建
    if ( !$percent.length ) {
        $percent = $('<p class="progress"><span></span></p>')
                .appendTo( $li )
                .find('span');
    }

    $percent.css( 'width', percentage * 100 + '%' );
});

// 文件上传成功，给item添加成功class, 用样式标记上传成功。
uploader.on( 'uploadSuccess', function( file ,data) {
    if(data.errno == 0){
        $( '#'+file.id ).addClass('upload-state-done');
        $( '#'+file.id ).attr('data-id',data.data);
        $('#path').val(data.data);
        $('#filePicker').hide();
    }
});

// 文件上传失败，显示上传出错。
uploader.on( 'uploadError', function( file ) {
    var $li = $( '#'+file.id ),
        $error = $li.find('div.error');

    // 避免重复创建
    if ( !$error.length ) {
        $error = $('<div class="error"></div>').appendTo( $li );
    }

    $error.text('上传失败');
});

// 完成上传完了，成功或者失败，先删除进度条。
uploader.on( 'uploadComplete', function( file ) {
    $( '#'+file.id ).find('.progress').remove();
});
//删除图片
function deleteImag(dom){
    var _this = $(dom);
    $.confirm({
        title: '<strong style="color: #c7254e;font-size: 16px">温馨提示</strong>',
        content: '<div class="text-center" style="border-top:1px solid #eee;padding-top: 20px">确定删除</div>',
        confirmButton: '确定',
        confirmButtonClass: 'btn btn-info',
        cancelButton: '取消',
        cancelButtonClass: 'btn btn-danger',
        animation: 'scaleY',
        theme: 'material',
        confirm: function () {
            $('#path').val('');
            $('#filePicker').show();
            _this.parent('div').remove();
            var uploader = WebUploader.create({

    // 选完文件后，是否自动上传。
    auto: true,

    // 文件接收服务端。
    server: "{:url('upload/uploadImg')}",

    // 选择文件的按钮。可选。
    // 内部根据当前运行是创建，可能是input元素，也可能是flash.
    pick: {
        id:'#filePicker',
        multiple:true
    },

    // 只允许选择图片文件。
    accept: {
        title: 'Images',
        extensions: 'gif,jpg,jpeg,bmp,png',
        mimeTypes: 'image/jpg,image/jpeg,image/png'
    }
});
var $list = $('#fileList');
var thumbnailWidth =600;
var thumbnailHeight = 200;
// 当有文件添加进来的时候
uploader.on( 'fileQueued', function( file ) {
    var $li = $(
            '<div id="' + file.id + '" class="">' +
                '<img>' +
                '<br><a href="javascript:;" onclick="deleteImag(this);">删除</a>' +
            '</div>'
            ),
        $img = $li.find('img');


    // $list为容器jQuery实例
    $list.append( $li );

    // 创建缩略图
    // 如果为非图片文件，可以不用调用此方法。
    // thumbnailWidth x thumbnailHeight 为 100 x 100
    uploader.makeThumb( file, function( error, src ) {
        if ( error ) {
            $img.replaceWith('<span>不能预览</span>');
            return;
        }

        $img.attr( 'src', src );
    }, thumbnailWidth, thumbnailHeight );
});
// 文件上传过程中创建进度条实时显示。
uploader.on( 'uploadProgress', function( file, percentage ) {
    var $li = $( '#'+file.id ),
        $percent = $li.find('.progress span');

    // 避免重复创建
    if ( !$percent.length ) {
        $percent = $('<p class="progress"><span></span></p>')
                .appendTo( $li )
                .find('span');
    }

    $percent.css( 'width', percentage * 100 + '%' );
});

// 文件上传成功，给item添加成功class, 用样式标记上传成功。
uploader.on( 'uploadSuccess', function( file ,data) {
    if(data.errno == 0){
        $( '#'+file.id ).addClass('upload-state-done');
        $( '#'+file.id ).attr('data-id',data.data);
        $('#path').val(data.data);
        $('#filePicker').hide();
    }
});

// 文件上传失败，显示上传出错。
uploader.on( 'uploadError', function( file ) {
    var $li = $( '#'+file.id ),
        $error = $li.find('div.error');

    // 避免重复创建
    if ( !$error.length ) {
        $error = $('<div class="error"></div>').appendTo( $li );
    }

    $error.text('上传失败');
});

// 完成上传完了，成功或者失败，先删除进度条。
uploader.on( 'uploadComplete', function( file ) {
    $( '#'+file.id ).find('.progress').remove();
});





        }

    });
    
}

    </script>

        <script >
    var $list1 = $('#fileList1');
    var uploader1 = WebUploader.create({
        auto: true,// 选完文件后，是否自动上传。
        swf: '/static/webuploader/Uploader.swf',// swf文件路径 换成你的接收路径
        server: "{:url('upload/uploadImg')}",// 文件接收服务端 换成你的接收路径
        duplicate :true,// 重复上传图片，true为可重复false为不可重复
        pick: '#imgPicker1',// 选择文件的按钮
        accept: {
            title: 'Images',
            extensions: 'gif,jpg,jpeg,bmp,png',
            mimeTypes: 'image/jpg,image/jpeg,image/png'
        },

        'onUploadSuccess': function(file, data, response) {
            var up_src = data._raw.replace("\\", "\/");
            var ph_src = JSON.parse(up_src);
            console.log(ph_src);
            ph_src = ph_src.data[0].replace("\/\/", "\/");
            ph_src = ph_src.replace("\\", "\/");

            //上传成功后显示图片
            var $li = $(
                '<div id="' + file.id + '" class="file-item thumbnail draggable-element d-"'+file.id.substr(file.id.length-1,1)+' style="position:relative;">' +
                '<img>' +
                '<a class="file-panel" href="javascript:;" onclick="remove(this)">' +
                '<span class="fa fa-close"></span>' +
                '</a>' +
                '<input type="hidden" id="data_photo1" name="pic" value="'+ph_src+'">' +
                '</div>'
                ),
                $img = $li.find('img');

            // $list1为容器jQuery实例
            $list1.append( $li );

            // 创建缩略图 如果为非图片文件，可以不用调用此方法 100（宽） x 100（高）
            uploader1.makeThumb( file, function( error, src ) {
                if ( error ) {
                    $img.replaceWith('<span>不能预览</span>');
                    return;
                }
                $img.attr( 'src', src );
            }, 100, 100 );
        }
    });


    // 文件上传成功
    uploader1.on( 'uploadSuccess', function( file ) {
        $( '#'+file.id ).find('p.state').text('上传成功！');
    });

    // 文件上传失败，显示上传出错。
    uploader1.on( 'uploadError', function( file ) {
        $( '#'+file.id ).find('p.state').text('上传出错!');
    });

    /**
     * [remove 移除图片]
     * @post  [file]  [文件名 （必填）]
     * @post  [obj]  [操作对象] [前台操作数据 移除dom标志]
     *
     * @return
     * @Author[summer 1012684399@qq.com] THINK MORE DO LESS
     */
    function remove1(obj){
        // console.log(12);

        $(obj).parent('div').remove();
        var html = '<input type="hidden" id="data_photo1" name="remove[]" value="">';
        $('#fileList1').append(html);
    }


</script>
    <script>
        var E = window.wangEditor;
        var editor = new E('#editor');
        var $content = $('#content');
        editor.customConfig.uploadFileName = 'image'
        editor.customConfig.uploadImgServer = "{:url('upload/uploadEditor')}";
        editor.customConfig.onchange = function (html) {
            // 监控变化，同步更新到 textarea
            $content.val(html)
        };
        editor.customConfig.menus = [
            'head',  // 标题
            'bold',  // 粗体
            'fontSize',  // 字号
            'fontName',  // 字体
            'foreColor',  // 文字颜色
            'backColor',  // 背景颜色
            'link',  // 插入链接
            'list',  // 列表
            'justify',  // 对齐方式
            'quote',  // 引用
            'image',  // 插入图片
        ]
        editor.create()

        $(function(){
            $(".w-e-text-container").css('height','600px')
        })
    </script>
    

{/block}