{extend name="layout/main" /}

{block name="header"}

{/block}

{block name="content"}
<section class="panel">
    <header class="panel-heading">
        <h4>会员等级配置</h4>
    </header>
    <div class="panel-body" style="padding-bottom: 50px">
        <table class="table table-bordered table-striped no-margin">
            <thead>
            <tr>
                <th class="text-center">会员身份</th>
                <th class="text-center">团队人数</th>
                <th class="text-center">有效人数</th>
                <th class="text-center">一级（%）</th>
                <th class="text-center">二级（%）</th>
                <th class="text-center">三级（%）</th>
                <th class="text-center">操作</th>
            </tr>
            </thead>
            <tbody>
            {foreach $list as $key=>$config}
            <tr>
                <td class="text-center" style="vertical-align: middle; ">
                    {if $config['id'] == 0}
                    普通会员
                    {else /}
                    {$config['level_name']}
                    {/if}
                </td>
                <td class="text-center" style="vertical-align: middle; ">
                    <input type="text" id="team_num{$config['id']}" style="text-align: center" class="form-control"
                           value="{$config['team_num']}">
                </td>
                <td class="text-center" style="vertical-align: middle; ">
                    <input type="text" id="valid_num{$config['id']}" style="text-align: center" class="form-control"
                           value="{$config['valid_num']}">
                </td>
                <td class="text-center" style="vertical-align: middle; ">
                    <input type="text" id="one_level{$config['id']}" style="text-align: center" class="form-control"
                           value="{$config['one_level']}">
                </td>
                <td class="text-center" style="vertical-align: middle; ">
                    <input type="text" id="two_level{$config['id']}" style="text-align: center" class="form-control"
                           value="{$config['two_level']}">
                </td>
                <td class="text-center" style="vertical-align: middle; ">
                    <input type="text" id="three_level{$config['id']}" style="text-align: center" class="form-control"
                           value="{$config['three_level']}">
                </td>

                <td class="text-center" style="vertical-align: middle; ">
                    <a onclick="updateConfig(this)" data-id="{$config['id']}" class="btn btn-xs btn-primary">确认修改</a>
                </td>
            </tr>
            {/foreach}
            </tbody>
        </table>

    </div>
</section>
{/block}


{block name="footer"}
<script>
    function updateConfig(e) {
        var id = $(e).attr('data-id');
        var level_name = $("#level_name" + id).val();
        var team_num = $("#team_num" + id).val();
        var valid_num = $("#valid_num" + id).val();
        var one_level = $("#one_level" + id).val();
        var two_level = $("#two_level" + id).val();
        var three_level = $("#three_level" + id).val();
        $.post("{:url('editConfigUserLevel')}", {level_name: level_name,team_num: team_num,valid_num:valid_num,one_level:one_level,two_level:two_level,three_level:three_level,id:id}, function (data) {
            if (data.code == 1) {
                main.waringAlert(data.message);
            } else {
                main.waringAlert(data.message);
                setTimeout(function () {
                    window.location.reload();
                }, 1000)
            }
        }, 'json')
    }
</script>
{/block}