{extend name="layout/main" /}

{block name="header"}

{/block}

{block name="content"}
<section class="panel">
    <header class="panel-heading">
        <h4>图片列表</h4>
    </header>
    <div class="panel-body" style="padding-bottom: 50px">
        <form class="form-horizontal" action="{:url('index')}">
            <div class="form-group">
                <a type="button" href="{:url('imageadd')}" class="btn btn-info">添加图片</a>
            </div>
        </form>
        <table class="table table-bordered table-striped no-margin">
            <thead>
            <tr>
                <th class="text-center">ID</th>
                <th class="text-center">标题</th>
                <th class="text-center">图片</th>
                <th class="text-center">排序</th>
                <th class="text-center">创建1时间</th>
                <th class="text-center">操作</th>
            </tr>
            </thead>
            <tbody>
            {if !empty($list)}
            {foreach $list as $entity}
            <tr>
                <td class="text-center">{$entity.id}</td>
                <td class="text-center">{$entity.title}</td>
                <td class="text-center"><img src="__PUBLIC__{$entity.pic}" width="200px" height="200px"></td>
                <td class="text-center">{$entity.sort}</td>
                <td class="text-center">{:date('Y-m-d H:i:s',$entity.create_time)}</td>
                <td class="text-center">
                    <a href="{:url('imageedit',['id'=>$entity['id']])}" class="btn btn-xs btn-info">编辑</a>
                    <a data-url="{:url('imagedel',['id'=>$entity.id])}" onclick="main.ajaxDelete(this)"
                       data-msg="确定要删除该公告吗？" class="btn btn-xs btn-danger">删除</a>
                </td>
            </tr>
            {/foreach}
            {else /}
            <tr class="text-center">
                <td colspan="6">暂无数据</td>
            </tr>
            {/if}
            </tbody>
        </table>

    </div>
</section>
{/block}


{block name="footer"}

{/block}
