{extend name="layout/main" /}

{block name="header"}

{/block}

{block name="content"}
<link rel="stylesheet" href="http://cdn.staticfile.org/webuploader/0.1.5/webuploader.css">
<script type="text/javascript" src='http://cdn.staticfile.org/webuploader/0.1.5/webuploader.min.js'></script>
<style type="text/css">
    
</style>


<section class="panel">
    <header class="panel-heading">
        <h4>基础参数配置</h4>
    </header>
    <div class="panel-body" style="padding-bottom: 50px">
        <table class="table table-bordered table-striped no-margin">
            <thead>
            <tr>
                <th class="text-center">序号</th>
                <th class="text-center">名称</th>
                <th class="text-center">key值</th>
                <th class="text-center">value值</th>
                <th class="text-center">操作</th>
            </tr>
            </thead>
            <tbody>
            {foreach $list as $key=>$config}
            <tr>
                <td class="text-center" style="vertical-align: middle; ">{$key+1}</td>
                <td class="text-center" style="vertical-align: middle; ">{$config['name']}</td>
                <td class="text-center" style="vertical-align: middle; ">{$config['key']}</td>
                <td class="text-center" style="vertical-align: middle; ">
                    <input type="text" id="{$config['key']}" style="text-align: center" class="form-control"
                           value="{$config['value']}">
                </td>
                <td class="text-center" style="vertical-align: middle; ">
                    <a onclick="updateConfigCopy(this)" data-key="{$config['key']}"  id-data="{$config['key']}" class="btn btn-xs btn-primary">确认修改</a>
                </td>
            </tr>
            <!-- {/if} -->
            {/foreach}
            <tr>
                <td class="text-center" style="vertical-align: middle; "></td>
                <td class="text-center" style="vertical-align: middle; ">
                    <input type="text"  style="text-align: center" id="name" class="form-control" value=""></td>
                <td class="text-center" style="vertical-align: middle; ">
                    <input type="text"  style="text-align: center" id="key" class="form-control" value=""></td>

                <td class="text-center" style="vertical-align: middle; ">
                    <input type="text"  style="text-align: center" id='value' class="form-control" value="">
                </td>
                <td class="text-center" style="vertical-align: middle; ">
                    <a onclick="addConfig(this)" class="btn btn-xs btn-primary">确认添加</a>
                </td>
            </tr>
            </tbody>


            
        </table>

    </div>
</section>





{/block}

{block name="footer"}

<script>

    function addConfig(e) {
        var name = $('#name').val();
        var key = $('#key').val();
        var value = $('#value').val();


        $.post("{:url('wordSetadd')}", {name: name,key: key, value: value}, function (data) {
            if (data.code == 1) {
                main.waringAlert(data.message);
            } else {
                main.waringAlert(data.message);
                setTimeout(function () {
                    window.location.reload();
                }, 1000)
            }
        }, 'json')
    }
    function updateConfig(e) {
        var key = $(e).attr('data-key');
        var value = $("#" + key).val();
        $.post("{:url('wordSetsave')}", {key: key, value: value}, function (data) {
            if (data.code == 1) {
                main.waringAlert(data.message);
            } else {
                main.waringAlert(data.message);
                window.location.reload();
            }
        }, 'json')
    }
    function updateConfigCopy(e) {
        var value1 = $(e).attr('data-key');

        var value = $("#" + value1).val();
        var number1 = $(e).attr('data-number');
        var number = $("#" + number1).val();

        var id = $(e).attr('id-data');

       
        $.post("{:url('wordSetsave')}", {value: value, number: number,id:id}, function (data) {
            if (data.code == 1) {
                main.waringAlert(data.message);
            } else {
                main.waringAlert(data.message);
                setTimeout(function () {
                    window.location.reload();
                }, 1000)
            }
        }, 'json')
    }


    // 初始化Web Uploader
    var uploader = WebUploader.create({

        // 选完文件后，是否自动上传。
        auto: true,

        // 文件接收服务端。
        server: "{:url('upload/uploadImg')}",

        // 选择文件的按钮。可选。
        // 内部根据当前运行是创建，可能是input元素，也可能是flash.
        pick: {
            id:'#filePicker',
            multiple:true
        },

        // 只允许选择图片文件。
        accept: {
            title: 'Images',
            extensions: 'gif,jpg,jpeg,bmp,png',
            mimeTypes: 'image/jpg,image/jpeg,image/png'
        }
    });

    var $list = $('#fileList');
    var thumbnailWidth =200;
    var thumbnailHeight = 200;
    // 当有文件添加进来的时候
    uploader.on( 'fileQueued', function( file ) {
        var $li = $(
                '<div id="' + file.id + '" class="">' +
                    '<img>' +
                    '<br><a href="javascript:;" onclick="deleteImag(this);">删除</a>' +
                '</div>'
                ),
            $img = $li.find('img');


        // $list为容器jQuery实例
        $list.html( $li );

        // 创建缩略图
        // 如果为非图片文件，可以不用调用此方法。
        // thumbnailWidth x thumbnailHeight 为 100 x 100
        uploader.makeThumb( file, function( error, src ) {
            if ( error ) {
                $img.replaceWith('<span>不能预览</span>');
                return;
            }

            $img.attr( 'src', src );
        }, thumbnailWidth, thumbnailHeight );
    });
    // 文件上传过程中创建进度条实时显示。
    uploader.on( 'uploadProgress', function( file, percentage ) {
        var $li = $( '#'+file.id ),
            $percent = $li.find('.progress span');

        // 避免重复创建
        if ( !$percent.length ) {
            $percent = $('<p class="progress"><span></span></p>')
                    .appendTo( $li )
                    .find('span');
        }

        $percent.css( 'width', percentage * 100 + '%' );
    });

    // 文件上传成功，给item添加成功class, 用样式标记上传成功。
    uploader.on( 'uploadSuccess', function( file ,data) {
        if(data.errno == 0){
            $( '#'+file.id ).addClass('upload-state-done');
            $( '#'+file.id ).attr('data-id',data.data);
            $('#paths').val(data.data);

        }
    });

    // 文件上传失败，显示上传出错。
    uploader.on( 'uploadError', function( file ) {
        var $li = $( '#'+file.id ),
            $error = $li.find('div.error');

        // 避免重复创建
        if ( !$error.length ) {
            $error = $('<div class="error"></div>').appendTo( $li );
        }

        $error.text('上传失败');
    });

    // 完成上传完了，成功或者失败，先删除进度条。
    uploader.on( 'uploadComplete', function( file ) {
        $( '#'+file.id ).find('.progress').remove();
    });
    //删除图片
    function deleteImag(dom){
        var _this = $(dom);
        $.confirm({
            title: '<strong style="color: #c7254e;font-size: 16px">温馨提示</strong>',
            content: '<div class="text-center" style="border-top:1px solid #eee;padding-top: 20px">确定删除</div>',
            confirmButton: '确定',
            confirmButtonClass: 'btn btn-info',
            cancelButton: '取消',
            cancelButtonClass: 'btn btn-danger',
            animation: 'scaleY',
            theme: 'material',
            confirm: function () {
                $('#paths').val('');

                _this.parent('div').remove();

            }

        });
        
        
    }

</script>



</script>
{/block}
