{extend name="layout/main" /}

{block name="header"}

{/block}

{block name="content"}
<section class="panel">
    <header class="panel-heading">
        <h4>客服管理列表</h4>
    </header>
    <div class="panel-body" style="padding-bottom: 50px">
        <form class="form-horizontal" action="{:url('index')}">
            <div class="form-group">
<!--                <a type="button" href="{:url('admin/customer/create')}" class="btn btn-info">添加客服</a>-->
            </div>
        </form>
        <table class="table table-bordered table-striped no-margin">
            <thead>
            <tr>
                <th class="text-center">ID</th>
                <th class="text-center">客服图片</th>
                <th class="text-center">创建时间</th>
                <th class="text-center">操作</th>
            </tr>
            </thead>
            <tbody>
            {if !empty($list)}
            {foreach $list as $entity}
            <tr>
                <td class="text-center">{$entity.id}</td>
                <td class="text-center">
                    <span class='color-desc'>
                        <img src="__PUBLIC__{$entity.image}" width="200px" height="200px" class="image_click">
                    </span>
                </td>
                <td class="text-center">{:date('Y-m-d H:i:s',$entity.createtime)}</td>
                <td class="text-center">
                    <a href="{:url('admin/customer/edit',['id'=>$entity['id']])}" class="btn btn-xs btn-info">编辑</a>
                    <a data-url="{:url('admin/customer/delete',['id'=>$entity.id])}" onclick="main.ajaxDelete(this)"
                       data-msg="确定要删除该客服吗？" class="btn btn-xs btn-danger">删除</a>
                </td>
            </tr>
            {/foreach}
            {else /}
            <tr class="text-center">
                <td colspan="6">暂无数据</td>
            </tr>
            {/if}
            </tbody>
        </table>

    </div>
</section>
{/block}


{block name="footer"}
<script>
    $(function(){
        $(".image_click").zoomify();
    });
    function showContent(e){
        $.dialog({
            title: '步骤内容',
            content: $(e).prev().html()
        });
    }
</script>
{/block}

