{extend name="layout/main" /}

{block name="header"}

{/block}

{block name="content"}
<script type="text/javascript" src='__PUBLIC__/static/webuploader/wangEditor.min.js'></script>
<link rel="stylesheet" href="http://cdn.staticfile.org/webuploader/0.1.5/webuploader.css">
<script type="text/javascript" src='http://cdn.staticfile.org/webuploader/0.1.5/webuploader.min.js'></script>
<script src="__PUBLIC__/admin/js/laydate/laydate.js"></script>

<section class="panel">
    {if isset($info)}
    <header class="panel-heading">
        <h4>编辑房间属性</h4>
    </header>
    <div class="panel-body" style="padding-bottom: 50px">
        <form class="form-horizontal" method="post" onsubmit="return false" role="form">

    {else /}
    <header class="panel-heading">
        <h4>填写奖励</h4>
    </header>
    <div class="panel-body" style="padding-bottom: 50px">
        <form class="form-horizontal" method="post" onsubmit="return false" role="form">
            <input type="text" name="id" value="{$list['id']}" style="display: none">
            <input type="text" name="room_id" value="{$list['room_id']}" style="display: none">
            <div class="form-group">
                <label class="col-sm-2 control-label">房间名称</label>

                <div class="col-sm-5">
                    <input type="text" value="{$list['roomname']}" name="roomname" class="form-control"
                           placeholder="" readonly>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">游戏类型</label>

                <div class="col-sm-5">
                    <input type="text" value="{$list['game_type']}" name="game_type" class="form-control"
                           placeholder="" readonly>
                </div>
            </div>
            <div class="form-group" >
                <label class="col-sm-2 control-label">奖金</label>

                <div class="col-sm-5">
                    <input type="text" value="{$list['bonus']}" name="bonus" class="form-control"
                           placeholder="请输入奖金" {if $list['status']}readonly{/if}>
                </div>
            </div>
            <div class="form-group" >
                <label class="col-sm-2 control-label">金币</label>

                <div class="col-sm-5">
                    <input type="text" value="{$list['goldcoin']}" name="goldcoin" class="form-control"
                           placeholder="请输入金币" {if $list['status']}readonly{/if}>
                </div>
            </div>
            <div class="form-group" >
                <label class="col-sm-2 control-label">排名</label>

                <div class="col-sm-5">
                    <input type="text" value="{$list['ranking']}" name="ranking" class="form-control"
                           placeholder="请输入排名">
                </div>
            </div>
            <div class="form-group" >
                <label class="col-sm-2 control-label">淘汰数</label>

                <div class="col-sm-5">
                    <input type="text" value="{$list['eliminate_num']}" name="eliminate_num" class="form-control"
                           placeholder="请输入淘汰数">
                </div>
            </div>
<!--            <div class="form-group" >-->
<!--                <label class="col-sm-2 control-label">吃鸡数/获奖数</label>-->

<!--                <div class="col-sm-5">-->
<!--                    <input type="text" value="" name="win_num" class="form-control"-->
<!--                           placeholder="请输入吃鸡数/获奖数">-->
<!--                </div>-->
<!--            </div>-->
            <div class="form-group">
                <label class="col-sm-2 control-label">是否吃鸡/获奖</label>
                <div class="col-sm-5">
                    <label class="radio radio-custom pull-left">
                        <input type="radio" checked name="win_num" value="1" {if $list['status'] == 1}checked{/if}>
                        <i class="radio " ></i> 是
                    </label>
                    <label class="radio radio-custom pull-left">
                        <input type="radio" name="win_num" value="0" {if $list['status'] == 0}checked{/if}>
                        <i class="radio " ></i> 否
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">胜负</label>
                <div class="col-sm-5">
                    <label class="radio radio-custom pull-left">
                        <input type="radio" checked name="winorlose" value="1" {if $list['winorlose'] == 1}checked{/if}>
                        <i class="radio "></i> 胜
                    </label>
                    <label class="radio radio-custom pull-left">
                        <input type="radio" name="winorlose" value="0" {if $list['winorlose'] == 0}checked{/if}>
                        <i class="radio "></i> 负
                    </label>
                </div>
            </div>
            <input type="text" value="{if $list['status']}1{else}0{/if}" name="is_update" style="display: none">
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" onclick="main.ajaxPosts(this)" data-url="{:url('admin/room/savereward')}"
                            class="btn btn-primary">提交
                    </button>
                    &nbsp;
                    <button type="button" onclick="javascript:history.back(-1);" class="btn btn-warning">返回
                </div>
            </div>
        </form>
    </div>
    {/if}
</section>
{/block}


{block name="footer"}
<script src="__PUBLIC__/admin/vendor/fuelux/radio.js"></script>
<script>
    var E = window.wangEditor;
    var editor = new E('#editor');
    var $content = $('#content');
    editor.customConfig.uploadFileName = 'image'
    editor.customConfig.uploadImgServer = "{:url('upload/uploadEditor')}";
    editor.customConfig.onchange = function (html) {
        // 监控变化，同步更新到 textarea
        $content.val(html)
    };
    editor.customConfig.menus = [
        'head',  // 标题
        'bold',  // 粗体
        'fontSize',  // 字号
        'fontName',  // 字体
        'foreColor',  // 文字颜色
        'backColor',  // 背景颜色
        'link',  // 插入链接
        'list',  // 列表
        'justify',  // 对齐方式
        'quote',  // 引用
        'image',  // 插入图片
    ]
    editor.create()

    $(function(){
        $(".w-e-text-container").css('height','600px')
    })
</script>
<script>
    // 初始化Web Uploader
    var uploader = WebUploader.create({

        // 选完文件后，是否自动上传。
        auto: true,

        // 文件接收服务端。
        server: "{:url('upload/uploadImg')}",

        // 选择文件的按钮。可选。
        // 内部根据当前运行是创建，可能是input元素，也可能是flash.
        pick: {
            id:'#filePicker',
            multiple:true
        },

        // 只允许选择图片文件。
        accept: {
            title: 'Images',
            extensions: 'gif,jpg,jpeg,bmp,png',
            mimeTypes: 'image/jpg,image/jpeg,image/png'
        }
    });
    var $list = $('#fileList');
    var thumbnailWidth =600;
    var thumbnailHeight = 200;
    // 当有文件添加进来的时候
    uploader.on( 'fileQueued', function( file ) {
        var $li = $(
            '<div id="' + file.id + '" class="">' +
            '<img>' +
            '<br><a href="javascript:;" onclick="deleteImag(this);">删除</a>' +
            '</div>'
            ),
            $img = $li.find('img');


        // $list为容器jQuery实例
        $list.append( $li );

        // 创建缩略图
        // 如果为非图片文件，可以不用调用此方法。
        // thumbnailWidth x thumbnailHeight 为 100 x 100
        uploader.makeThumb( file, function( error, src ) {
            if ( error ) {
                $img.replaceWith('<span>不能预览</span>');
                return;
            }

            $img.attr( 'src', src );
        }, thumbnailWidth, thumbnailHeight );
    });
    // 文件上传过程中创建进度条实时显示。
    uploader.on( 'uploadProgress', function( file, percentage ) {
        var $li = $( '#'+file.id ),
            $percent = $li.find('.progress span');

        // 避免重复创建
        if ( !$percent.length ) {
            $percent = $('<p class="progress"><span></span></p>')
                .appendTo( $li )
                .find('span');
        }

        $percent.css( 'width', percentage * 100 + '%' );
    });

    // 文件上传成功，给item添加成功class, 用样式标记上传成功。
    uploader.on( 'uploadSuccess', function( file ,data) {
        if(data.errno == 0){
            $( '#'+file.id ).addClass('upload-state-done');
            $( '#'+file.id ).attr('data-id',data.data);
            $('#path').val(data.data);
            $('#filePicker').hide();
        }
    });

    // 文件上传失败，显示上传出错。
    uploader.on( 'uploadError', function( file ) {
        var $li = $( '#'+file.id ),
            $error = $li.find('div.error');

        // 避免重复创建
        if ( !$error.length ) {
            $error = $('<div class="error"></div>').appendTo( $li );
        }

        $error.text('上传失败');
    });

    // 完成上传完了，成功或者失败，先删除进度条。
    uploader.on( 'uploadComplete', function( file ) {
        $( '#'+file.id ).find('.progress').remove();
    });
    //删除图片
    function deleteImag(dom){
        var _this = $(dom);
        $.confirm({
            title: '<strong style="color: #c7254e;font-size: 16px">温馨提示</strong>',
            content: '<div class="text-center" style="border-top:1px solid #eee;padding-top: 20px">确定删除</div>',
            confirmButton: '确定',
            confirmButtonClass: 'btn btn-info',
            cancelButton: '取消',
            cancelButtonClass: 'btn btn-danger',
            animation: 'scaleY',
            theme: 'material',
            confirm: function () {
                $('#path').val('');
                $('#filePicker').show();
                _this.parent('div').remove();
                var uploader = WebUploader.create({

                    // 选完文件后，是否自动上传。
                    auto: true,

                    // 文件接收服务端。
                    server: "{:url('upload/uploadImg')}",

                    // 选择文件的按钮。可选。
                    // 内部根据当前运行是创建，可能是input元素，也可能是flash.
                    pick: {
                        id:'#filePicker',
                        multiple:true
                    },

                    // 只允许选择图片文件。
                    accept: {
                        title: 'Images',
                        extensions: 'gif,jpg,jpeg,bmp,png',
                        mimeTypes: 'image/jpg,image/jpeg,image/png'
                    }
                });
                var $list = $('#fileList');
                var thumbnailWidth =600;
                var thumbnailHeight = 200;
// 当有文件添加进来的时候
                uploader.on( 'fileQueued', function( file ) {
                    var $li = $(
                        '<div id="' + file.id + '" class="">' +
                        '<img>' +
                        '<br><a href="javascript:;" onclick="deleteImag(this);">删除</a>' +
                        '</div>'
                        ),
                        $img = $li.find('img');


                    // $list为容器jQuery实例
                    $list.append( $li );

                    // 创建缩略图
                    // 如果为非图片文件，可以不用调用此方法。
                    // thumbnailWidth x thumbnailHeight 为 100 x 100
                    uploader.makeThumb( file, function( error, src ) {
                        if ( error ) {
                            $img.replaceWith('<span>不能预览</span>');
                            return;
                        }

                        $img.attr( 'src', src );
                    }, thumbnailWidth, thumbnailHeight );
                });
// 文件上传过程中创建进度条实时显示。
                uploader.on( 'uploadProgress', function( file, percentage ) {
                    var $li = $( '#'+file.id ),
                        $percent = $li.find('.progress span');

                    // 避免重复创建
                    if ( !$percent.length ) {
                        $percent = $('<p class="progress"><span></span></p>')
                            .appendTo( $li )
                            .find('span');
                    }

                    $percent.css( 'width', percentage * 100 + '%' );
                });

// 文件上传成功，给item添加成功class, 用样式标记上传成功。
                uploader.on( 'uploadSuccess', function( file ,data) {
                    if(data.errno == 0){
                        $( '#'+file.id ).addClass('upload-state-done');
                        $( '#'+file.id ).attr('data-id',data.data);
                        $('#path').val(data.data);
                        $('#filePicker').hide();
                    }
                });

// 文件上传失败，显示上传出错。
                uploader.on( 'uploadError', function( file ) {
                    var $li = $( '#'+file.id ),
                        $error = $li.find('div.error');

                    // 避免重复创建
                    if ( !$error.length ) {
                        $error = $('<div class="error"></div>').appendTo( $li );
                    }

                    $error.text('上传失败');
                });

// 完成上传完了，成功或者失败，先删除进度条。
                uploader.on( 'uploadComplete', function( file ) {
                    $( '#'+file.id ).find('.progress').remove();
                });

            }

        });

    }

</script>

<script>
    var url = "{:url('admin/room/getMatchType')}";

    $(function () {
        $('#game-sel').change(function (val) {
            var val = $(this).find('option:selected').attr('value');
            $.ajax({
                url : url,
                method : 'post',
                data : {
                    game_type_id : val,
                },
                success(res){
                    if(res.code == 200){
                        var list = res.data;
                        $('#type-sel').html('');
                        for(var i = 0 ; i < list.length; i ++){
                            $('#type-sel').append(`<option value="${list[i].id}">${list[i]['title']}</option>`)
                        }
                    }else{
                        $('#type-sel').html('');
                        $('#type-sel').append(`<option value="0">请先选择游戏分类</option>`)
                    }

                }
            })
        })
    })
    $(function () {
        $('#game-reward_type').change(function (val) {
            var val = $(this).find('option:selected').attr('value');
            if(val == 1){
                $('#reward_type_1').show();
                $('#reward_type_2').hide();
            }else if(val == 2){
                $('#reward_type_1').hide();
                $('#reward_type_2').show();
            }else{
                $('#reward_type_1').hide();
                $('#reward_type_2').hide();
            }


        })
    })
    {if !isset($info)}
    laydate.render({
        elem: '#enrolltime',
        type: 'datetime',
        format: 'yyyy-MM-dd HH:mm', //可任意组合
        value: new Date(), //参数即为：time() 的时间戳
    });

    laydate.render({
        elem: '#readytime',
        type: 'datetime',
        format: 'yyyy-MM-dd HH:mm', //可任意组合
        value: new Date(), //参数即为：time()的时间戳

    });

    laydate.render({
        elem: '#starttime',
        type: 'datetime',
        format: 'yyyy-MM-dd HH:mm', //可任意组合
        value: new Date(), //参数即为：time() 的时间戳
    });
    {/if}
        {if isset($info)}
        laydate.render({
            elem: '#enrolltime',
            type: 'datetime',
            format: 'yyyy-MM-dd HH:mm', //可任意组合
            // value: new Date(), //参数即为：time() 的时间戳
        });

        laydate.render({
            elem: '#readytime',
            type: 'datetime',
            format: 'yyyy-MM-dd HH:mm', //可任意组合
            // value: new Date(), //参数即为：time()的时间戳

        });

        laydate.render({
            elem: '#starttime',
            type: 'datetime',
            format: 'yyyy-MM-dd HH:mm', //可任意组合
            // value: new Date(), //参数即为：time() 的时间戳
        });
        {/if}

            // {/if}
            // laydate.render({
            //     elem: '#endtime',
            //     type: 'datetime',
            //     format: 'yyyy-MM-dd HH:mm', //可任意组合
            //     value: new Date(timestamp) //参数即为：2018-08-20 20:08:08 的时间戳
            // });

            $(function () {
                $('#game-reward_type').change(function () {
                    $('.num').val('');
                    var val = $(this).find('option:selected').attr('value');
                    if(val == 2){
                        $('#currency').find('options[value=1]').attr('selected','selected')
                    }
                })
            })



</script>


{/block}
