<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>万通启元</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="screen-orientation" content="portrait">
	<meta name="full-screen" content="yes">
	<meta name="browsermode" content="application">
	<meta name="x5-orientation" content="portrait">
	<meta name="x5-fullscreen" content="true">
	<meta name="x5-page-mode" content="app">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <!-- css -->
    <link href="/zc/css/mui.min.css" rel="stylesheet">
    <link href="/zc/css/footer.css" rel="stylesheet">
    <link href="/zc/css/base.css" rel="stylesheet">
    <!-- js -->
	<script src="/zc/js/jquery.min.js"></script>
    <script src="/zc/js/mui.min.js"></script>
	<script src="/zc/js/template.js"></script>
	<script src="/zc/js/flexible.js"></script>
	<script src="/zc/js/flexible_css.js"></script>
	<script src="/zc/js/foot_bar.js"></script>
	<script>
		mui.init({
			gestureConfig:{
				swipe:true
			}
		})
	</script>
</head>
<body>
	<div id="app">
		<!-- 头部 -->
		<div class="trading_head">
			<div class="left open_cbl">
				<img src="/zc/img/caidan.png" alt="">
				<span>MINI/USDT</span>
			</div>
			<div class="right">
				<img class="ns1" src="/zc/img/dtt.png" alt="">
			</div>
		</div>
		<!-- 内容 -->
		<div class="trading_content">
			<div class="mrmc">
				<div class="left">
					<div class="ns1">
						<div class="mr_btn">买入</div>
						<div class="mc_btn">卖出</div>
					</div>
					<div class="wt_btn" style="position: relative;">
						计划
						<div class="sjx_down"></div>
					</div>
					<div class="num_add">
						<div class="jian_cny">-</div>
						<div>|</div>
						<div class="sl">5.6395</div>
						<div>|</div>
						<div class="add_cny">+</div>
					</div>
					<p class="cny">≈20.17CNY</p>
					<div class="num_add1">
						<div class="jian_cny1">-</div>
						<div>|</div>
						<div class="sl1">数量（MX）</div>
						<div>|</div>
						<div class="add_cny1">+</div>
					</div>
					<div class="sl_mx">
						<img src="/zc/img/hdk.png" alt="">
						<div class="ns5"></div>
						<div class="ns4"></div>
						<div class="ns5"></div>
						<div class="ns4"></div>
						<div class="ns5"></div>
						<div class="ns4"></div>
						<div class="ns5"></div>
						<div class="ns4"></div>
						<div class="ns5"></div>
					</div>
					<div class="ze_usdt">
						总额（USDT）
					</div>
					<div class="usdt_mr">买入</div>
					<div class="ky_usdt">
						<div class="ny">
							<div>
								<span>可用</span>
								<span>0.00USDT</span>
							</div>
							<div>
								<span>锁定</span>
								<span>0.00USDT</span>
							</div>
							<div>
								<span>可买</span>
								<span>0.00MX</span>
							</div>
							<div style="width: 100%;height: 1px;background: #E0E0E0"></div>
							<div>
								<span>总资产</span>
								<span>0.00USDT</span>
							</div>
						</div>
					</div>
				</div>
				<div class="right">
					<div class="ns1">
						<span>价格</span>
						<span class="r_text" style="text-align: right">数量</span>
					</div>
					<div class="jg_list">
						<div class="ws1">
							<span class="jg">21.3123</span>
							<span class="r_text sl">1.123K</span>
						</div>
						<div class="ws1">
							<span class="jg">21.3123</span>
							<span class="r_text sl">1.123K</span>
						</div>
						<div class="ws1">
							<span class="jg">21.3123</span>
							<span class="r_text sl">1.123K</span>
						</div>
						<div class="ws1">
							<span class="jg">21.3123</span>
							<span class="r_text sl">1.123K</span>
						</div>
						<div class="ws1">
							<span class="jg">21.3123</span>
							<span class="r_text sl">1.123K</span>
						</div>
						<div class="ws1">
							<span class="jg">21.3123</span>
							<span class="r_text sl">1.123K</span>
						</div>
					</div>
					<div class="us_ze">
						<span>3.1355</span>
						<span>-0.49</span>
					</div>
					<div style="color:#999999;font-size: .48rem;margin: .4rem 0 .6rem">￥0.92</div>
					<div class="jg_list">
						<div class="ws1">
							<span class="jg">21.3123</span>
							<span class="r_text sl">1.123K</span>
						</div>
						<div class="ws1">
							<span class="jg">21.3123</span>
							<span class="r_text sl">1.123K</span>
						</div>
						<div class="ws1">
							<span class="jg">21.3123</span>
							<span class="r_text sl">1.123K</span>
						</div>
						<div class="ws1">
							<span class="jg">21.3123</span>
							<span class="r_text sl">1.123K</span>
						</div>
						<div class="ws1">
							<span class="jg">21.3123</span>
							<span class="r_text sl">1.123K</span>
						</div>
						<div class="ws1">
							<span class="jg">21.3123</span>
							<span class="r_text sl">1.123K</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		 <div style="height:.133333rem;background: #E6E6E6"></div>
		 <!-- 下面 -->
		 <div class="trading_content">
			 <div class="wt_head">
				 <span>当前委托</span>
				 <div>
					 <img src="/zc/img/cjjl.png" alt="">
					 <span>成交记录</span>
				 </div>
			 </div>
			 <div class="wt_top">
				 <div class="xjwt active">限价委托</div>
				 <div class="jhwt">计划委托</div>
			 </div>
		 </div>
		 <div style="height:.08rem;background: #E6E6E6"></div>
		 <!-- 结束 -->
		 <div class="xjwt_block">
			<div class="sx_block">
				<div style="padding-top: 50px;padding-bottom: 50px">
				<img src="/zc/img/zwsj1.png" alt="">
				<p style="text-align: center">暂无数据</p>
				<div class="t_djsx">点击刷新</div>
				</div>
			</div>
		 </div>
		 <div class="jhwt_block" style="display: none;">
			<div class="sx_block">
				<div style="padding-top: 50px;padding-bottom: 50px">
				<img src="/zc/img/zwsj1.png" alt="">
				<p style="text-align: center">暂无数据</p>
				<div class="t_djsx">点击刷新</div>
				</div>
			</div>
		 </div>
		 <div style="height: 1.66667rem"></div>
         <!-- 底部导航 -->
		<div class="foot_bar">
			<div class="foot_block">
				<img class="ws1" src="/zc/img/a_icon1.png" alt="">
				<p>首页</p>
			</div>
			<div class="foot_block">
				<img class="ws2" src="/zc/img/a_icon2.png" alt="">
				<p>OTC</p>
			</div>
			<div class="foot_block active">
				<img class="ws3" src="/zc/img/b_icon3.png" alt="">
				<p>交易</p>
			</div>
			<div class="foot_block">
				<img class="ws4" src="/zc/img/a_icon4.png" alt="">
				<p>资产</p>
			</div>
			<div class="foot_block">
				<img class="ws5" src="/zc/img/a_icon5.png" alt="">
				<p>我的</p>
			</div>            
		</div>
		<!-- 币种切换 -->
	<div class="nav-bg"></div>
			<div class="nav-box">
				<div class="nav-content">
					<div class="bz_title">币种切换</div>
					<div class="xzbz_list">
						<div class="mui-scroll-wrapper mui-slider-indicator mui-segmented-control mui-segmented-control-inverted">
							<div class="mui-scroll">
								<div class="xzbz_block">
									<img src="/zc/img/xingxing.png" alt="">
								</div>
								<div class="xzbz_block">
									USDT
								</div>
								<div class="xzbz_block">
									USDT
								</div>
								<div class="xzbz_block">
									USDT
								</div>
								<div class="xzbz_block">
									USDT
								</div>
								<div class="xzbz_block">
									USDT
								</div>
								<div class="xzbz_block">
									USDT
								</div>
							</div>
						</div>
					</div>
					<div class="suosouk">
						<img src="/zc/img/sousuo.png" alt="">
						<input class="ss_nr" type="text" placeholder="请输入关键字搜索">
					</div>
					<div class="mxx_list">
						<div class="mxx_block">
							<div><span style="color:#333333;font-size:15px">MX</span><span style="color: #B3B3B3;font-size:11px">/USDT</span></div>
							<div style="color:#FE3F4D;font-size:13px">0.4123123</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	
</body>
</html>
	

<script type="text/html" id="tpl-info">
	
</script>
<script type="text/javascript">
	var div1 = $('.sl_mx');
	var div2 = $('.sl_mx img');       
	div2.on('touchmove', function(event) {
		event.preventDefault();
		var width=div1.width();//灰色块的长度，用于计算红色块最大滑动的距离
		console.log(event.targetTouches.length())
		if (event.targetTouches.length() == 1) {
			var touch = event.targetTouches[0];
			//计算红色块的left值，pageX是相对于整个页面的坐标，减去15（红色块长度的一半）是为了让鼠标点显示在中间，可以更改值看看效果，如果灰色块不是紧挨着屏幕，那还需要计算灰色块距离左屏幕的距离，应为pageX！！！
			moveleft = touch.pageX-15;
			if(moveleft<=0){//红色块的left值最小是0；
				moveleft=0;
			};
			if(moveleft>=parseInt(width)-30){////红色块的left值最小是灰色块的width减去红色块的width；
				moveleft=parseInt(width)-30;
			}
			div2.style.left=moveleft+"px";//最后把left值附上。
		};
	});
</script>
<script type="text/javascript">
	$(function(){ 
		$('.open_cbl').click(function (e) { 
			 $('.nav-bg').show();
			 setTimeout(function(){
				$('.nav-box').css('left','0');
			 },20)
		 });
		 $('.nav-bg').click(function (e) { 
			$('.nav-bg').hide();
			 setTimeout(function(){
				$('.nav-box').css('left','-60.8%');
			 },20)
		 });
		 $('.xjwt').click(function (e) { 
			 $(this).addClass('active');
			 $('.jhwt').removeClass('active');
			 $('.xjwt_block').show();
			 $('.jhwt_block').hide();
		 });
		 $('.jhwt').click(function (e) { 
			 $(this).addClass('active');
			 $('.xjwt').removeClass('active');
			 $('.xjwt_block').hide();
			 $('.jhwt_block').show();
		 });
	})
</script>
