{extend name="layout/main" /}

{block name="header"}

{/block}

{block name="content"}
<section class="panel">
    <header class="panel-heading">
        <h4>图片管理</h4>
    </header>
    <div class="panel-body" style="padding-bottom: 50px">
        <form class="form-horizontal" action="{:url('article/index')}">
            <div class="form-group">

                <a type="button" href="{:url('/admin/article/imageadd')}" class="btn btn-info">添加图片</a>
            </div>
        </form>
        <table class="table table-bordered table-striped no-margin">
            <thead>
            <tr>
                <th class="text-center">序号</th>
                <th class="text-center">标题</th>
                <th class="text-center">图片 (建议最佳图片显示效果 640*480 )</th>
                <th class="text-center">排序</th>
                <th class="text-center">创建时间</th>
                <th class="text-center">操作</th>
            </tr>
            </thead>
            <tbody>
            {if !empty($list)}
            {foreach $list as $entity}
            <tr>
                <td class="text-center">{$entity.id}</td>
                <td class="text-center">{$entity.title}</td>
                <td class="text-center">
                    <span class='color-desc'>
                        <img src="__PUBLIC__{$entity.pic}" width="200px" height="200px" class="image_click">
                    </span>
                </td>
                <td class="text-center">{$entity.sort}</td>
                <td class="text-center">{:date('Y-m-d H:i:s',$entity.create_time)}</td>
                <td class="text-center">
                    <a href="{:url('article/imageedit',['id'=>$entity['id']])}" class="btn btn-xs btn-info">编辑</a>
                    <a data-url="{:url('article/imagedel',['id'=>$entity.id])}" onclick="main.ajaxDelete(this)"
                       data-msg="确定要删除该公告吗？" class="btn btn-xs btn-danger">删除</a>
                </td>
            </tr>
            {/foreach}
            {else /}
            <tr class="text-center">
                <td colspan="5">暂无数据</td>
            </tr>
            {/if}
            </tbody>
        </table>

    </div>
</section>
<script>
    $(function(){
        $(".image_click").zoomify();
    });
</script>
{/block}


{block name="footer"}

{/block}
