{extend name="layout/main" /}

{block name="header"}

{/block}

{block name="content"}
<section class="panel">
    <header class="panel-heading">
        <h4>房间列表</h4>
    </header>
    <div class="panel-body" style="padding-bottom: 50px">
        <form class="form-horizontal" action="{:url('chat/index')}">
            <div class="form-group">
                <a type="button" href="{:url('/admin/chat/create')}" class="btn btn-info">创建房间</a>
            </div>
        </form>
        <table class="table table-bordered table-striped no-margin">
            <thead>
            <tr>
                <th class="text-center">房间ID</th>
                <th class="text-center">房间名称</th>
                <th class="text-center">房间图片</th>
                <th class="text-center">背景图片</th>
                <th class="text-center">钻石消耗</th>
                <th class="text-center">时长</th>
                <th class="text-center">人数限制</th>
                <th class="text-center">公告</th>
                <th class="text-center">公告标题</th>
                <th class="text-center">状态</th>
                <th class="text-center">房间创建时间</th>
                <th class="text-center">操作</th>
            </tr>
            </thead>
            <tbody>
            {if !empty($items)}
            {foreach $items as $entity}
            <tr>
                <td class="text-center">{$entity['id']}</td>
                <td class="text-center">{$entity['roomname']}</td>
                <td class="text-center">
                    <span style="display:none"><img src="{$entity['image']}" alt=""></span>
                    <a onclick="showContent(this)"   class="btn btn-xs btn-primary">查看</a>
                </td>
                <td class="text-center">
                    <span style="display:none"><img src="{$entity['backgroundimage']}" alt=""></span>
                    <a onclick="showContent(this)"   class="btn btn-xs btn-primary">查看</a>
                </td>
                <td class="text-center">{$entity['credit1']}</td>
                <td class="text-center">{$entity['duration']}分钟</td>
                <td class="text-center">{$entity['limit_num']}</td>
                <td class="text-center">
                    <span style="display:none">{:htmlspecialchars_decode($entity['content'])}</span>
                    <a onclick="showRule(this)"   class="btn btn-xs btn-primary">查看</a>
                </td>
                <td class="text-center">{$entity['content_title']}</td>
                <td class="text-center">
                    {if $entity['status'] == 1}
                    <span class="btn btn-xs btn-success">开启</span>
                    {else}
                    <span class="btn btn-xs btn-info">关闭</span>
                    {/if}
                </td>
                <td class="text-center">{:date("Y-m-d H:i",$entity['createtime'])}</td>

                <td class="text-center">
                    <a href="{:url('chat/edit',['id'=>$entity['id']])}" class="btn btn-xs btn-info">编辑</a>
                    <a data-url="{:url('chat/delete',['id'=>$entity['id']])}" onclick="main.ajaxDelete(this)"
                       data-msg="确定要删除该房间吗？" class="btn btn-xs btn-danger">删除</a><br>
                </td>
            </tr>
            {/foreach}
            {else /}
            <tr class="text-center">
                <td colspan="20">暂无数据</td>
            </tr>
            {/if}
            </tbody>
        </table>
        <div class="page">
            {:htmlspecialchars_decode($list->render())}
        </div>
    </div>
</section>
{/block}


{block name="footer"}
<script>
    function showContent(e){
        $.dialog({
            title: '图片',
            content: $(e).prev().html()
        });
    }
    function showRule(e){
        $.dialog({
            title: '公告',
            content: $(e).prev().html()
        });
    }
    function showchaturl(e){
        $.dialog({
            title: '比赛房间链接',
            content: $(e).prev().html()
        });
    }
</script>
{/block}
