<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>身份认证</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	</head>
	<link rel="stylesheet" href="/zc/css/style.css" />
	<link rel="stylesheet" href="/zc/css/index.css" />
	<link rel="stylesheet" href="/zc/css/login.css" />
	<link rel="stylesheet" href="/zc/css/center_sfrz.css" />
	<link href="/zc/css/footer.css" rel="stylesheet">
	<link rel="stylesheet" href="/zc/css/center_aqzx.css" />
	<script src="/zc/js/flexible.js"></script>
	<script src="/zc/js/flexible_css.js"></script>
	<script src="/zc/js/template.js"></script>
	<script src="/zc/js/jquery.min.js"></script>
	<script src="/zc/js/unslider.min.js"></script>
	<script src="/zc/js/foot_bar.js"></script>
	<script src="/zc/js/jquery-2.1.4.min.js"></script>
	<script src="/zc/js/jquery.gesture.password.js"></script>
	
	<body>
		<div class="header">
			<span>身份认证</span>
			<a href="javascript:history.go(-1)" class="return"></a>
		</div>
		<div style="height: 1rem;"></div>
		
		<div class="bjt"><img src="/zc/img/logo.png"></div>
		
		<div class="shts"><p>您的身份认证已提交，正在审核中</p></div>
		
		<div class="shjd">
			<ul>
				<li class="li_1">
					<div></div>
					<p>提交身份认证申请</p>
				</li>
				<li class="li_2">
					<div></div>
				</li>
				<li class="li_1">
					<div></div>
					<p>身份认证正在审核</p>
				</li>
				<li class="li_4">
					<div></div>
				</li>
				<li class="li_5">
					<div></div>
					<p>身份认证审核成功</p>
				</li>
			</ul>
		</div>
		
	</body>
</html>
