<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>关于我们</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	</head>
	<link rel="stylesheet" href="/zc/css/style.css" />
	<link rel="stylesheet" href="/zc/css/index.css" />
	<link rel="stylesheet" href="/zc/css/login.css" />
	<link rel="stylesheet" href="/zc/css/center_wddd.css" />
	<link rel="stylesheet" href="/zc/css/center_gywm.css" />
	<link href="/zc/css/footer.css" rel="stylesheet">
	<script src="/zc/js/flexible.js"></script>
	<script src="/zc/js/flexible_css.js"></script>
	<script src="/zc/js/template.js"></script>
	<script src="/zc/js/jquery.min.js"></script>
	<script src="/zc/js/unslider.min.js"></script>
	<script src="/zc/js/foot_bar.js"></script>
	
	
	<body>
		<div class="header">
			<span>关于我们</span>
			<a href="javascript:history.go(-1)" class="return"></a>
		</div>
		<div style="height: 1rem;"></div>
		
		<div class="kh"></div>
		
		<div class="jcbb">
			<img src="/zc/img/logo.png">
			<p class="jcbb_p1">当前版本</p>
			<p class="jcbb_p2">2.0.1</p>
			<!--<p class="jcbb_p3">《 检查新版本 》</p>-->
		</div>
		
		<div class="ptjj">
			<div class="ptjj_lt"><img src="/zc/img/center23.png"></div>
			<div class="ptjj_z"><p>平台简介</p></div>
			<div class="ptjj_rt"></div>
		</div>
		
		<div class="jys"><div style="width: 25px;height: 10px;float: left;"></div>南非UDS交易所，成立于2018年底，坐落于南非共和国被称为“黄金之城”的约翰内斯堡斯堡（Johannesburg）；是南非安兰基金会一家服务全球用户的数字资产交易所；UDS交易所创始团队由华尔街顶级金和技术人才、互联网资深运营、区块链和数字资产早期投资者组成。UDS交易所秉持“开放、诚信、勇敢、共享”的理念，致力于为全球用户打造体验一流的数字资产交易平台。</div>
		<div style="float: right;margin-top: 30px;margin-right: 20px;">
		<div>UDS交易所（技术团队）</div>
		<div>2018年12月</div>
		</div>
	</body>
	
</html>
