<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>提币地址管理</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	</head>
	<link rel="stylesheet" href="/zc/css/style.css" />
	<link rel="stylesheet" href="/zc/css/index.css" />
	<link rel="stylesheet" href="/zc/css/login.css" />
	<link rel="stylesheet" href="/zc/css/center_wddd.css" />
	<link rel="stylesheet" href="/zc/css/center_tbdzgl.css" />
	<link href="/zc/css/footer.css" rel="stylesheet">
	<script src="/zc/js/flexible.js"></script>
	<script src="/zc/js/flexible_css.js"></script>
	<script src="/zc/js/template.js"></script>
	<script src="/zc/js/jquery.min.js"></script>
	<script src="/zc/js/unslider.min.js"></script>
	<script src="/zc/js/foot_bar.js"></script>
	
	
	<body>
		<div class="header">
			<span>提币地址管理</span>
			<a href="javascript:history.go(-1)" class="return"></a>
		</div>
		<div style="height: 1rem;"></div>
		
		<div class="kh"></div>
		
		<a href="http://yqwt.eduxy.cn/index/shop/assets_tb_tbxq.html">
		<div class="tbdz">
			<div class="tbdz_box">
				<div class="tbdz_lt"><img src="/zc/img/center15.png"></div>
				<div class="tbdz_z">
					<p class="p1">USDT</p>
					<p class="p2">Tether</p>
				</div>
				<div class="tbdz_rt">
					<p>0</p>
				</div>
			</div>
		</div>
		</a>
		
		<div class="tbdz">
			<div class="tbdz_box">
				<div class="tbdz_lt"><img src="/zc/img/center16.png"></div>
				<div class="tbdz_z">
					<p class="p1">BTC</p>
					<p class="p2">Bitcoin</p>
				</div>
				<div class="tbdz_rt">
					<p>0</p>
				</div>
			</div>
		</div>
		
		<div class="tbdz">
			<div class="tbdz_box">
				<div class="tbdz_lt"><img src="/zc/img/center17.png"></div>
				<div class="tbdz_z">
					<p class="p1">ETH</p>
					<p class="p2">Ethereum</p>
				</div>
				<div class="tbdz_rt">
					<p>0</p>
				</div>
			</div>
		</div>
		
		<div class="tbdz">
			<div class="tbdz_box">
				<div class="tbdz_lt"><img src="/zc/img/center18.png"></div>
				<div class="tbdz_z">
					<p class="p1">EOS</p>
					<p class="p2">EOS</p>
				</div>
				<div class="tbdz_rt">
					<p>0</p>
				</div>
			</div>
		</div>
		
		
	</body>
	
</html>
